language: scala

scala:
   - 2.12.3

script:
   - sbt ++$TRAVIS_SCALA_VERSION coverage test

sudo: false

jdk:
   - oraclejdk8

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

after_success:
  - sbt coverageReport coveralls
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm

